.tile-wrapper {
  width: 350px;
  min-height: 300px;
  border: 1px solid grey;
  box-shadow: 1px 0.5px grey;
  margin-top: 20px;
}
.tile-wrapper:hover {
  transform: scale(1.01);
}
.post-img {
  width: 100%;
  object-fit: cover;
}
.tl-col-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tl-col-two ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 0.5px;
}
.tl-col-two ul li {
  width: 100px;
}
.tl-col-two ul li {
}
.thumb {
  display: flex;
  justify-content: center;
  margin-left: 0.3em;
}

.thumb span {
  font-size: 1.4em;
  margin-left: 0.2em;
}
