.fgt-wrapper {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(1, minmax(500px, 1fr));
  align-items: center;
}

.fgt-wrapper form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  padding: 0 40px;
  border: 1px solid #00d4ff;
}

.fgt-wrapper .fgt-button button {
  height: 40px;
  width: 70px;
  margin-top: 20px;
  background: #00d4ff;
  color: #ffffff;
  border: none;
  outline: none;
  opacity: 1;
  cursor: pointer;
}
.fgt-wrapper .fgt-button button:hover {
  opacity: 0.5;
}
